{% load staticfiles %}
{% comment %}require.js is not loaded yet {% endcomment %}
<script src="{% static 'django_privacy_mgmt/js/libs/jquery.cookie.2.2.0.js' %}"></script>
<script src="{% static 'django_privacy_mgmt/js/main.js' %}"></script>

